@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Pixelify+Sans:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sanchez:ital@0;1&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-clr: #ffffff;
    --primary-accent: #3f2689;
    --primary-accent-hover: #38227a;
    --secondary-accent: #7755ff;
    --secondary-accent-hover: #6c4cec;
    --tertiary-accent: #6257e3;
    --tertiary-accent-hover: #4e44b8;
    --primary-font: "League Spartan", serif;
    --secondary-font: "Sanchez", sans-serif;
}

body {
    color: var(--primary-clr);
}

.hero {
    background-image: url("../images/gym-bg.webp");
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2.5rem;
    gap: 2.5rem;
}


header {
    margin-top: 1rem;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: none;
}

header a {
    text-decoration: none;
    color: var(--primary-clr);
    position: relative;
}

header a::after {
    content: "";
    position: absolute;
    height: 3px;
    border-radius: 16px;
    background-color: #fff;
    left: 0;
    top: 100%;
}

@keyframes slide {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

header ul li:hover a::after {
    animation: slide 1s linear infinite;
}

.menu {
    visibility: hidden;
}

.intro {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-shadow: 1px 1px 0px black;
    max-width: max-content;
}

.main h1 {
    font-family: var(--primary-font);
    font-weight: 800;
    font-size: 2.8rem;
}

.main p {
    font-family: var(--secondary-font);
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container .cta-button {
    background-color: var(--primary-accent);
    border: none;
    border-radius: 12px;
    color: var(--primary-clr);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: var(--secondary-font);
    cursor: pointer;
}

.btn-container .cta-button:focus {
    outline: none;
}

.btn-container .cta-button:hover {
    background-color: var(--primary-accent-hover);
}

.info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 10px;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: var(--secondary-font);
}

.info-item p:first-child {
    font-family: var(--primary-font);
    font-weight: bold;
}


/* About section */
#about {
    padding: 2.5rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--primary-accent);
    font-family: var(--secondary-font);
}

.about-container img {
    border-radius: 32px;
}

.about-container .about-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about-container h3 {
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.about-container h2 {
    font-size: 2rem;
    font-family: var(--primary-font);
    font-weight: 800;
}

.about-container h2>span {
    color: var(--secondary-accent);
}


.section-container {
    color: var(--primary-accent);
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section-container h3 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    text-align: center;
}

.section-container h2 {
    font-size: 2rem;
    font-family: var(--primary-font);
    text-align: center;
}

.section-container .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.section-container .card-container .card {
    color: var(--primary-clr);
    background-color: var(--primary-accent);
    border-radius: 36px;
    max-width: fit-content;
}

.section-container .card-container .card .card-text {
    padding: 1rem 1.5rem;
}

.section-container .card-container .card .card-text h4 {
    font-family: var(--primary-font);
    font-size: 1.5rem;
}

.section-container .card-container .card .card-text p {
    font-family: var(--secondary-font);
    margin: 1rem 0;
}

.section-container .card-container .card .card-text ul {
    padding: 0.5rem 1.5rem;
    font-family: var(--secondary-font);
}

.section-container .card-container .card .card-img-top {
    max-width: 100%;
    border-radius: 36px 36px 0 0;
}

.section-container h2>span {
    color: var(--secondary-accent);
}

.section-container .card-container .card .card-text h4.trainer-name {
    font-size: 2rem;
}

.section-container .card-container .card .card-text .trainer-designation,
.trainer-speciality {
    color: var(--tertiary-accent);
}


.section-container .card-container .card .card-text .book-btn {
    background-color: transparent;
    border: 1px solid var(--secondary-accent);
    padding: 0.5rem 1rem;
    border-radius: 36px;
    letter-spacing: 1.2px;
    cursor: pointer;
    width: 100%;
    font-family: var(--secondary-font);
    margin: 0.5rem 0;
}

.section-container .card-container .card .card-text .book-btn a {
    color: var(--primary-clr);
    text-decoration: none;
}

.section-container .card-container .card .card-text .book-btn:hover {
    background-color: var(--secondary-accent-hover);
}

.section-container .card-container .card .card-text .book-btn:focus {
    outline: none;
}

.section-container .card-container .card .card-text .trainer-skills {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.section-container .card-container .card .card-text .trainer-skills>li {
    background-color: var(--secondary-accent);
    margin: 0.2rem;
    text-align: center;
    max-width: max-content;
    border-radius: 16px;
    padding: 0.3rem 0.5rem;
}


/* Pricing section */
.section-container#pricing h4,
.section-container#pricing p {
    text-align: center;
}

.section-container #pricing-title {
    font-family: var(--primary-font);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.section-container #pricing-tagline {
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--secondary-accent);
}

.section-container#pricing .card-container .card-text .pricing-option {
    font-size: 2.5rem;
}

.section-container#pricing .card-container .card-text p {
    font-size: 1.2rem;
}

.section-container#pricing .card-container .card-text .price>span {
    font-size: 3rem;
    color: var(--tertiary-accent);
}

.section-container#pricing .card-container .card .book-btn {
    background-color: var(--tertiary-accent);
    border: none;
}

.section-container#pricing .card-container .card .book-btn:hover {
    background-color: var(--tertiary-accent-hover);
}

/* contact section */
.contact {
    padding: 1.5rem;
}

.contact h2 {
    color: var(--secondary-accent);
}

.contact h2>span {
    color: var(--primary-accent)
}

.contact .tagline {
    font-family: var(--secondary-font);
    text-align: center;
}

.contact-container .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--secondary-accent);
    padding: 2rem;
    color: var(--primary-clr);
    border-radius: 16px;
    font-family: var(--secondary-font);
}

.contact-container .contact-form h4 {
    font-family: var(--primary-font);
    font-size: 1.5rem;
}

.contact-container .contact-form .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.contact-container .contact-form input {
    padding: 0.5rem;
    border-radius: 0;
    border: none;
}

.contact-container .contact-form input::placeholder,
.contact-container .contact-form textarea::placeholder {
    font-family: var(--secondary-font);
    color: var(--primary-accent);
}

.contact-container .contact-form textarea {
    padding: 0.5rem;
    border-radius: 0;
    border: none;
    resize: vertical;
}

.contact-container .contact-form input:focus,
.contact-container .contact-form textarea:focus {
    outline: none;
}

.contact-container .contact-form .submit-btn {
    background-color: var(--primary-accent);
    border: none;
    color: var(--primary-clr);
    padding: 0.5rem 1rem;
    font-family: var(--secondary-font);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    gap: 0.5rem;
}

.contact-container .contact-form .submit-btn svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--primary-clr);
}

.contact-container .contact-info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

.contact-container .contact-info .info-card-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    font-family: var(--secondary-font);
}

.section-container .contact-container .contact-info .info-card-container .info-card {
    max-width: 350px;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 36px;
    padding: 1.5rem;
    background-color: var(--secondary-accent);
    color: var(--primary-clr);
}

.section-container .contact-container .contact-info .info-card-container .info-card h5,
a {
    font-size: 1.2rem;
    font-weight: 500;
}

.section-container .contact-container .contact-info .info-card-container .info-card p {
    opacity: 0.8;
}

.section-container .contact-container .contact-info .info-card-container .info-card a {
    text-decoration: none;
    color: var(--primary-accent);
}

.section-container .contact-container .contact-info .info-card-container .info-card svg {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-accent);
    padding: 10px;
    fill: var(--primary-clr);
}

.section-container .contact-container .contact-info #googleMap iframe {
    width: 100%;
    height: 300px;
}

.site-footer{
    background-color: var(--primary-accent);
    font-family: var(--secondary-font);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.site-footer h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

.site-footer ul{
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0.5rem;
}

.site-footer a,
.site-footer li {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--primary-clr);
}
.site-footer__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.site-footer__main{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.site-footer__brand{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.site-footer__socials{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}
.site-footer__quick-links h3,
.site-footer__programs h3,
.site-footer__contact h3{
    font-family: var(--primary-font);
    font-weight: 700;
}

.site-footer__quick-links a:hover,
.site-footer__socials a:hover{
    opacity: 0.8;
}


.site-footer__socials img{
    width: 2rem;
    height: 2rem;
    filter: invert(1);
}

.site-footer__contact-group img{
    width: 1rem;
    height: 1rem;
    filter: invert(1);
}
.site-footer__contact-group a,
.site-footer__contact-group p {
    margin: 0.2rem 1.5rem;
    opacity: 0.8;
    font-size: 1rem;
}


.site-footer__contact-group a:hover{
    opacity: 1;
}

.site-footer__bottom{
    margin-top: 1.5rem;
    border-top: 1px solid var(--secondary-accent);
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    opacity: 0.8;
}
.site-footer__bottom div{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.site-footer__legal-links a{
    font-size: 1rem;
}
.site-footer__legal-links a:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.back-to-top-btn{
    position: absolute;
    background-color: var(--tertiary-accent);
    padding: 0.6rem 0.8rem;
    border-radius: 50%;
    bottom: 3.5rem;
    right: 1rem;
    opacity: 0.8;
    cursor: pointer;
}
.back-to-top-btn img{
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(1);
}

@media (min-width: 750px) {
    .hero {
        padding: 1rem 2.5rem;
    }

    header {
        font-size: 1.5rem;
        justify-content: space-between;
    }

    header .menu {
        visibility: visible;
    }

    .menu ul {
        gap: 3.5rem;
    }

    #about {
        padding: 3rem;
    }

    .about-container h3 {
        font-size: 2rem;
        animation: fade-in 3s linear;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .about-container h2 {
        font-size: 3rem;
    }

    .about-container p {
        font-size: 1.8rem;
    }


    .section-container {
        padding: 2.5rem;
    }

    .section-container h3 {
        font-size: 2.5rem;
    }

    .section-container h2 {
        font-size: 3.5rem;
    }

    .section-container .card-container {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .section-container .card-container .card {
        max-width: 400px;
        width: 100%;
    }

    .section-container .card-container .card .card-text {
        padding: 1rem 1.5rem;
    }

    .section-container .card-container .card .card-text h4 {
        font-size: 1.5rem;
    }

    /* Pricing section */
    .section-container#pricing h4,
    .section-container#pricing p {
        text-align: center;
    }

    .section-container #pricing-title {
        font-family: var(--primary-font);
        text-transform: uppercase;
        margin-bottom: 0.5rem;
        font-weight: 700;
    }

    .section-container #pricing-tagline {
        font-family: var(--secondary-font);
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        color: var(--secondary-accent);
    }

    .section-container#pricing .card-container .card-text .pricing-option {
        font-size: 2.5rem;
    }

    .section-container#pricing .card-container .card-text .price>span {
        font-size: 3rem;
        color: var(--tertiary-accent);
    }
}

@media (min-width: 1200px) {
    .hero {
        padding: 1rem 3.5rem;
    }

    header {
        padding: 0;
        font-size: 2.5rem;
        justify-content: space-between;
    }

    header .menu {
        visibility: visible;
    }

    .menu ul {
        gap: 4.9rem;
    }
    .menu ul li a{
        font-size: 2rem;
    }
    .main h1 {
        font-size: 7.5rem;
    }

    .main p {
        font-size: 1.5rem;
        text-align: left;
    }

    .btn-container .cta-button {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
    }

    .info {
        font-size: 2.5rem;
    }

    /* About section */
    #about {
        padding: 3.5rem 3rem;
    }

    .about-container {
        padding: 4.5rem 1.5rem;
        display: flex;
        flex-direction: row-reverse;
        gap: 2.5rem;
    }

    .about-container .about-text {
        position: relative;
        top: -100px;
    }

    .about-container h3 {
        font-size: 2.5rem;
    }

    .about-container h2 {
        font-size: 3.5rem;
    }

    .about-container p {
        font-size: 1.8rem;
        text-wrap: wrap;
    }

    .about-container img {
        width: 600px;
        max-width: 100%;
    }

    /* programs, trainer-details section */

    .section-container {
        padding: 3.5rem;
    }

    .section-container h3 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    .section-container h2 {
        font-size: 3.5rem;
    }

    .section-container .card-container {
        flex-direction: row;
        justify-content: center;
        gap: 2.5rem;
    }

    .section-container .card-container .card {
        max-width: 400px;
        width: 100%;
    }

    .section-container .card-container .card .card-text {
        padding: 1.5rem 2rem;
    }

    .section-container .card-container .card .card-text h4 {
        font-size: 2rem;
    }

    .section-container .card-container .card .card-text ul {
        padding: 0.5rem 2rem;
    }

    .section-container .card-container .card .card-text .trainer-designation {
        font-size: 1.5rem;
    }

    .section-container .card-container .card .card-text .trainer-speciality {
        font-size: 1.5rem;
    }

    /* Pricing section */
    .section-container #pricing-tagline {
        font-size: 1.5rem;
    }

    .section-container#pricing .card-container .card-text .pricing-option {
        font-size: 3rem;
    }

    .section-container#pricing .card-container .card-text .price>span {
        font-size: 3.5rem;
    }

    /* contact section */
    #contact .tagline {
        font-size: 1.2rem;
    }

    .contact-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: 2rem;
    }

    .contact-container .contact-form {
        width: 50%;
        padding: 3rem;
        gap: 2rem;
    }

    .contact-container .contact-form h4 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .contact-container .contact-form input {
        padding: 1.5rem;
    }

    .contact-container .contact-form input,
    label,
    textarea {
        font-size: 1.2rem;
    }

    .contact-container .contact-form .submit-btn {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }

    .contact-container .contact-form textarea {
        height: 10rem;
    }

    .contact-container .contact-info {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
    }

    .contact-container .contact-info .info-card-container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .site-footer__main{
        flex-direction: row;
        justify-content: space-between;
    }
    .site-footer__main div{
        flex: 1;
    }

    .site-footer__bottom{
        flex-direction: row;
        justify-content: space-between;
    }
    .site-footer__bottom div{
        display: flex;
        gap: 1rem;
    }
}


@media (min-width: 1700px) {
    .about-container img {
        width: 1000px;
    }

    .about-container h3 {
        font-size: 3rem;
    }

    .about-container h2 {
        font-size: 4rem;
    }

    .about-container p {
        font-size: 2.5rem;
    }

    .section-container .card-container .card {
        max-width: 500px;
        width: 100%;
    }

    .section-container .card-container .card .card-text h4 {
        font-size: 2.5rem;
    }

    .section-container .card-container .card .card-text ul {
        padding: 0.5rem 2.5rem;
        font-size: 1.3rem;
    }

    .section-container .card-container .card .card-text p {
        font-size: 1.3rem;
    }

    .section-container .card-container .card .card-text h4.trainer-name {
        font-size: 2.5rem;
    }

    .section-container .card-container .card .card-text .trainer-designation {
        font-size: 2rem;
    }

    .section-container .card-container .card .card-text .trainer-speciality {
        font-size: 2rem;
    }

    .section-container .card-container .card .card-text .book-btn {
        font-size: 1.3rem;
        padding: 0.7rem 1rem;
    }

}